<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>记录过程</title>

    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/addrecord.css">
</head>
<body>
<div class="page page-common page-addrecord">
    <div class="content">
        <div class="list-block none-margin-top align-top">
            <div class="row no-gutter">
                <div class="col-70  textarea-content">
                    <textarea id="apply-des" placeholder="这一刻的想法..."></textarea>
                </div>
                <div class="col-30 uploader-content">
                    <div class="uploader-button"></div>
                </div>
            </div>
        </div>
        <div class="button-submit">
            <a href="./applydetail.html" class="button button-fill button-success">提交</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/addrecord.js"></script>
</body>
</html>