<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>发起详情页</title>

    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/applydetail.css">
</head>
<body>
<div class="page page-common page-applydetail">
    <div class="content">
        <span class="dadu-tap"><img src="/images/dd.png" alt=""></span>
        <div class="detail-top">
            <div class="bgsvg">
                <div class="user-headimg">
                    <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                         alt="">
                </div>
            </div>
            <p class="user-name" th:inline="text">[[${bet.user.nickname}]]的目标</p>
            <div class="apply-title">
                <span class="tip">
                    <img class="success" src="/images/comp@2x.png" alt="">
                     <img class="fail" src="/images/shba@2x.png" alt="">
                    <img class="cancel" src="/images/tz@2x.png" alt="">
                </span>
                <p class="apply-money" th:inline="text">
                <img src="/images/yin_r@2x.png" alt=""/>打赌¥[[${T(com.lamfire.utils.NumberUtils).format(bet.amount,2)}]]元
                </p>
                <p class="apply-des" th:text="${bet.content}">
                   	 一周看完《三体》这本书
                </p>
                <p class="apply-time" th:inline="text">
                                                            完成时间：[[${#calendars.format(bet.finishTime, 'yyyy年MM月dd日 HH:mm前')}]]
                    <img src="/images/yin_l@2x.png" alt="">
                </p>
            </div>
        </div>
        <div class="content-block-title">
            <span>谁给TA鼓励</span>
            <span class="sub">（若未完成，则打赌按鼓励金占比分配）</span><span  class="open-explain"><img src="/images/i@2x.png" alt=""></span>
        </div>
        <div class="list-block none-margin-top none-margin-bottom list-friend">
            <ul>
                <li class="item-content" th:if="${participateList}" th:each="data,iterStat : ${participateList}">
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="headerimg">
                                <span class="user-img">
                                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt="">
                                </span>
                            </div>
                            <div class="user-info">
                                <p th:text="${data.name}">李泉</p>
                                <div class="user-message">
                                    <span class="message-content"></span><span class="message-open">留言</span>
                                    <span class="user-time" th:text="${data.getCreateTimeDesc()}">今天 12:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-after user-money" th:inline="text">¥[[${data.amount >0 ? T(com.lamfire.utils.NumberUtils).format(data.amount,2) : 0}]]</div>
                    </div>
                </li>
                <li class="item-content none-content" th:if="${participateList == null || participateList.size() == 0}">
                    <p>还未有人鼓励，右上角分享邀请吧！</p>
                </li>
            </ul>
        </div>
        <div class="content-block-title">
            <span><i class="fa fa-picture-o"></i>过程图证</span>
            <span class="sub float-right" th:inline="text">[[${bet.pv}]]人浏览</span>
        </div>
        <div class="list-block none-margin-top list-record">
            <ul>
                <li class="item-content" th:if="${progresseList}" th:each="data,iterStat : ${progresseList}">
	                <div class="record-content row no-gutter">
	                    <div class="col-20">
	                        <div class="headerimg">
                            <span class="user-img">
                            <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                            alt=""></span>
	                        </div>
	                    </div>
	                    <div class="col-80 record-main">
	                        <p>
	                            <span>第1天</span>
	                            <span class="sub" th:text="${#calendars.format(data.createTime, 'MM/dd/ HH:mm')}">05/11 13:00</span>
	                            <span class="reduce-button">删除</span>
	                        </p>
	                        <p th:text="${data.content}">终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
	                        <p class="imgcontent">
	                        <img width="184" height="114" th:src="'/img?img='+${data.pic}" alt="">
	                        </p>
	                    </div>
	                </div>
	            </li>
	            
	            <!-- 
                <li class="item-content daduend">
                    <div class="tip">
                        08/09 13:00 设置为停止参与
                    </div>
                </li>
                -->
                
            </ul>
        </div>
    </div>
    <nav class="applydetail-bar bar bar-tab row no-gutter">
        <div class="col-20 setting-button">
            <p><span class="icon icon-settings"></span></p>
            <p>设置</p>
        </div>
        <a th:href="@{'/bet/progress/'+${bet.id}}" href="./addrecord.html" class="col-60 add-record">
            <i class="fa fa-camera"></i>记录过程
        </a>
        <div class="col-20 result-button">
            <p><span class="icon icon-check"></span></p>
            <p>判定结果</p>
        </div>
        <div class="col-20 resultover-button">
            <p><i class="fa fa-file-o"></i></p>
            <p>结果详情</p>
        </div>
    </nav>
</div>
<script type="text/javascript" src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/applydetail.js"></script>
</body>
</html>