<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>过往打赌</title>

    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/applylist.css">
</head>
<body>
<div class="page page-common page-applylist">
    <div class="content">
        <div class="content-block">
            <a href="./apply.html" class="apply-button"><i class="fa fa-plus"></i></a>
            <div class="buttons-row">
                <a href="#myapply" class="tab-link active button">我的打赌 <span>1</span></a>
                <a href="#mycommon" class="tab-link button">我的鼓励 <span>3</span></a>
            </div>
        </div>
        <div class="tabs">
            <div id="myapply" class="tab active">
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="./applylist.html" class="item-content item-link">
                                <span class="tip">目标成功</span>
                                <div class="item-inner">
                                    <div class="item-title">晚上12点前睡觉晚上12点前睡觉晚上12点前睡觉晚上12点前睡觉晚上12点前睡觉晚上12点前睡觉</div>
                                    <div class="item-after">¥10</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./applylist.html" class="item-content item-link">
                                <span class="tip fail">目标失败</span>
                                <div class="item-inner">
                                    <div class="item-title">给我买瓶啤酒</div>
                                    <div class="item-after">¥20</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="mycommon" class="tab">
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="./showdetail.html" class="item-content item-link">
                                <span class="tip">目标成功</span>
                                <div class="item-inner">
                                    <div class="item-title row">
                                    <span class="user-header col-20"><img
                                            src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                            alt=""></span>
                                        <span class="col-80">晚上12点前睡觉</span>
                                    </div>
                                    <div class="item-after">¥10</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./showdetail.html" class="item-content item-link">
                                <span class="tip fail">目标失败</span>
                                <div class="item-inner">
                                    <div class="item-title row">
                                        <span class="user-header col-20"><img
                                                src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                                alt=""></span>
                                        <span class="col-80">晚上12点前睡觉</span>
                                    </div>
                                    <div class="item-after">¥10</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="bottom"><a href="./applylist.html">正在打赌</a></p>
    </div>
</div>
<script type="text/javascript" src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/applyrecord.js"></script>
</body>
</html>