<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>发起详情页</title>

    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/applydetail.css">
</head>
<body>
<div class="page page-common page-applydetail">
    <div class="content">
        <span class="dadu-tap"><img src="images/dd.png" alt=""></span>
        <div class="detail-top">
            <div class="bgsvg">
                <div class="user-headimg">
                    <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                         alt="">
                </div>
            </div>
            <p class="user-name">葫芦的目标</p>
            <div class="apply-title">
                <span class="tip">
                    <img class="success" src="images/comp@2x.png" alt="">
                     <img class="fail" src="images/shba@2x.png" alt="">
                    <img class="cancel" src="images/tz@2x.png" alt="">
                </span>
                <p class="apply-money"><img src="images/yin_r@2x.png" alt="">打赌¥20元</p>
                <p class="apply-des">
                    一周看完《三体》这本书
                </p>
                <p class="apply-time">
                    完成时间：2016年07月30日 23:00前
                    <img src="images/yin_l@2x.png" alt="">
                </p>
            </div>
        </div>
        <div class="content-block-title">
            <span>谁给TA鼓励</span>
            <span class="sub">（若未完成，则打赌按鼓励金占比分配）</span><span  class="open-explain"><img src="images/i@2x.png" alt=""></span>
        </div>
        <div class="list-block none-margin-top none-margin-bottom list-friend">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                            <div class="user-info">
                                <p>李泉</p>
                                <div class="user-message">
                                    <span class="message-content"></span><span class="message-open">留言</span><span class="user-time">今天 12:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-after user-money">¥1</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                            <div class="user-info">
                                <p>李泉</p>
                                <p class="user-message"><span>我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈 </span><span
                                        class="user-time">06-12 20:00</span></p>
                            </div>
                        </div>
                        <div class="item-after user-money">¥1</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                            <div class="user-info">
                                <p>李泉</p>
                                <p class="user-message"><span>我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈 </span><span
                                        class="user-time">06-12 20:00</span></p>
                            </div>
                        </div>
                        <div class="item-after user-money">¥1</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                            <div class="user-info">
                                <p>李泉</p>
                                <p class="user-message"><span>我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈 </span><span
                                        class="user-time">06-12 20:00</span></p>
                            </div>
                        </div>
                        <div class="item-after user-money">¥1</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                            <div class="user-info">
                                <p>李泉</p>
                                <p class="user-message"><span>我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈 </span><span
                                        class="user-time">06-12 20:00</span></p>
                            </div>
                        </div>
                        <div class="item-after user-money">¥1</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                            <div class="user-info">
                                <p>李泉</p>
                                <p class="user-message"><span>我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈 </span><span
                                        class="user-time">06-12 20:00</span></p>
                            </div>
                        </div>
                        <div class="item-after user-money">¥1</div>
                    </div>
                </li>
                <li class="item-content none-content">
                    <p>还未有人鼓励，右上角分享邀请吧！</p>
                </li>
            </ul>
        </div>
        <div class="content-block-title">
            <span><i class="fa fa-picture-o"></i>过程图证</span>
            <span class="sub float-right">15人浏览</span>
        </div>
        <div class="list-block none-margin-top list-record">
            <ul>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
                <li class="item-content daduend">
                    <div class="tip">
                        08/09 13:00 设置为停止参与
                    </div>
                </li>
                <li class="item-content">
                    <div class="record-content row no-gutter">
                        <div class="col-20">
                            <div class="headerimg">
                                <span class="user-img"><img
                                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                            </div>
                        </div>
                        <div class="col-80 record-main">
                            <p>
                                <span>第1天</span>
                                <span class="sub">05/11 13:00</span>
                                <span class="reduce-button">删除</span>
                            </p>
                            <p>终于看完了，谢谢大家终于看完了，谢谢大家终于看完了，谢谢大家</p>
                            <p class="imgcontent"><img width="184" height="114" src="images/content-img.png" alt=""></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <nav class="applydetail-bar bar bar-tab row no-gutter">
        <div class="col-100 getmoney-button">领取监督礼金（剩余3名监督者）</div>
        <div class="col-100 overmoney-button">¥1.5（我的监督礼金）</div>
    </nav>
</div>
<script type="text/javascript" src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/applydetail.js"></script>
</body>
</html>