<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>监督者（45）</title>

    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/applydetail.css">
</head>
<body>
    <div class="page page-common page-applydetail">
        <div class="content">
            <div class="list-block none-margin-top none-margin-bottom list-friend">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">
                                <div class="headerimg">
                                <span class="user-img">
                                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                                </div>
                                <div class="user-info">
                                    <p>李泉</p>
                                    <p class="user-message"><span>我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈 </span>
                                    <span class="user-time">06-12 20:00</span></p>
                                </div>
                            </div>
                            <div class="item-after user-money">¥1</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">
                                <div class="headerimg">
                                <span class="user-img">
                                <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                                        alt=""></span>
                                </div>
                                <div class="user-info">
                                    <p>李泉</p>
                                    <p class="user-message"><span>我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈我不信！哈哈哈 </span>
                                    <span class="user-time">06-12 20:00</span></p>
                                </div>
                            </div>
                            <div class="item-after user-money">¥1</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/base.min.js"></script>
    <script type="text/javascript" src="/js/applydetail.js"></script>
</body>
</html>