<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>用户中心</title>

    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/usercenter.css">
</head>
<body>
<div class="page page-common page-usercenter">
    <div class="content">
        <div class="list-block top">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <span><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" style='width: 2.2rem;'></span>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">葫芦</div>
                            <div class="item-after">
                                <a href="./apply.html" class="apply-button">发起目标</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-block apply-list">
            <ul>
                <li>
                    <a href="./applylist.html" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">正在打赌</div>
                            <div class="item-after">2</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./applyrecord.html" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">过往打赌</div>
                            <div class="item-after">20</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-block-title">统计（仅统计我的打赌）</div>
        <div class="list-block apply-list">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">成功率</div>
                        <div class="item-after">70%</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">已赚取</div>
                        <div class="item-after">250元</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/usercenter.js"></script>
</body>
</html>