<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>用户识别</title>

    <link rel="stylesheet" href="css/base.min.css">
    <link rel="stylesheet" href="css/useridenf.css">
</head>
<body>
<div class="page page-common page-idenf">
    <div class="content">
        <div class="main-content">
            <p>
                <span class="user-img"><img
                        src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIJh62qOdu905hwZBHkGl7ERCPgvMpSfy3IJGIPgpBPMuwFOmp65Hnr3ScMjnmLIzVB5eodyic195w/0"
                        alt=""></span>
            </p>
            <p>李泉设置为私密</p>

            <p class="allow">
                <span class="button check-button">点击查看</span>
                <span class="tip">很遗憾，你非打赌参与者，不可见</span>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/base.min.js"></script>
<script type="text/javascript" src="js/useridenf.js"></script>
</body>
</html>