body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:70px;
  width:420px;
  height:747px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u1 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:970px;
  top:70px;
  width:420px;
  height:747px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u3 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:145px;
  width:190px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:530px;
  top:162px;
  width:100px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u7 {
  position:absolute;
  left:630px;
  top:200px;
  width:190px;
  height:120px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:530px;
  top:207px;
  width:100px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u10 {
  position:absolute;
  left:630px;
  top:400px;
  width:190px;
  height:50px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:530px;
  top:417px;
  width:100px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u13 {
  position:absolute;
  left:1480px;
  top:200px;
  width:190px;
  height:120px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1380px;
  top:207px;
  width:100px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u16 {
  position:absolute;
  left:293px;
  top:774px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#759FEE;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1154px;
  top:764px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#759FEE;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
