<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>索引</title>

    <link rel="stylesheet" href="/css/base.min.css">
</head>
<body>
<div class="page page-common">
    <div class="content">
        <div class="list-block contacts-block">
            <div class="list-group">
                <ul>
                    <li>
                        <a th:href="@{/bet/apply}" href="./apply.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">发起打赌（apply.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/bet/detail}" href="./applydetail.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">发起人详情页（applydetail.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/bet/list}" href="./applylist.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">正在打赌列表（applylist.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/bet/history}" href="./applyrecord.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">过往打赌列表（applyrecord.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/bet/join}" href="./showdetail.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">对方参与（showdetail.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/user/center}" href="./usercenter.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">用户中心（usercenter.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/user/auth}" href="./useridenf.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">用户识别（useridenf.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/bet/progress}" href="./addrecord.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">添加记录（addrecord.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/404}" href="./blank.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">空白页（blank.html）</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/bet/result}" href="./applydetail2.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">详情页2（applydetail2.html）</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/base.min.js"></script>
</body>
</html>