body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:53px;
  width:420px;
  height:747px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u1 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
